.landing {
  background-color: #ecfcfd;
  width: 100%;
  overflow: hidden;
  font-size: 2rem;
}

.landing p {
  color: #343a40;
  margin: 20px;
}

.landing img {
  width: 50vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  margin-top: 80px;
}

.landing h1 {
  text-align: center;
  color: #343a40;
  margin-top: 10px;
}

.menuSection {
  background-color: red;
}
