.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  width: 100%;
  height: 500px;
}

.grid2cols {
  grid-template-columns: repeat(2, 1fr);
}

/*
Hero section
*/

.hero {
  background-color: #e7f5ff;
  width: 100%;
  overflow: hidden;
  font-size: 2rem;
  padding: 40px;
}

.hero p {
  color: #343a40;
  font-size: 2.5rem;
}

.hero h1 {
  font-size: 5rem;
  /* text-align: center; */
  color: #343a40;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  border-radius: 5%;
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  margin: auto;
}

/*
Testimonials
*/

.testimonialsSection {
  padding: 40px 0;
}

.testimonialsSectionImg {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.testimonial {
}

.testimonialsHeading {
  /* margin: 10px; */
  font-size: 3rem;
}

.testimonialsSubheading {
  font-size: 1.2rem;
}

.testimonialText {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.testimonialName {
  font-size: 1.2rem;
  font-weight: 300;
}

/*
Testimonial gallery
*/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.gallery img {
  display: block;
  width: 100%;
}
