.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #4dabf7;
  font-size: 2rem;
  font-weight: 400;
}
.position header {
  position: fixed;
  top: 0;
  width: 100%;
}

.name {
  padding: 15px;
  color: #212529;
  font-size: 2rem;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: right;
}

.header li {
  padding: 15px;
  margin-left: 2rem;
}

.header a {
  text-decoration: none;
  color: #212529;
}

.cartContainer {
  padding: 15px 30px;
  background-color: rgb(201, 42, 42);
  z-index: 1;
  position: relative;
  border-radius: 50px;
}

.cartLogo {
  stroke: #ecfcfd;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: -7;
  transform: translate(-15px, -15px);
}
