.header {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  background-color: #e7f5ff;
  font-size: 2rem;
  font-weight: 400;
  border-color: #919191;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: right;
}

.header li {
  margin-left: 3rem;
  margin-top: 3rem;

  /* margin-left: 2rem; */
}

.header a {
  text-decoration: none;
  color: #212529;
}

.cartContainer:hover,
.cartContainer:active {
  background-color: #339af0;
  cursor: pointer;
}

.cartContainer {
  padding: 2.5rem;
  background-color: #4dabf7;
  z-index: 1;
  border: none;
  border-radius: 5rem;
  transform: translate(-1.5rem, -1.5rem);
}

.cartLogo {
  position: absolute;
  height: 3rem;
  width: 3rem;
  z-index: 2;
  transform: translate(-1.5rem, -1.5rem);
}

.orderButton {
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  transform: translate(0, -1rem);
}

.orderButton:hover,
.orderButton:active {
  background-color: #339af0;
  cursor: pointer;
}

/* .cartNumberContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
} */

.totalCartItems {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: red;
  border: none;
  z-index: 5;
  color: white;
  position: absolute;
  transform: translate(0.5rem, -3.5rem);
}

/*//////////////
////IMAGE//////
/////////////*/

.logo img {
  width: 28rem;
  height: 8rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
