.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #e7f5ff;
  font-size: 2rem;
  font-weight: 400;
  border-color: #919191;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: right;
}

.header li {
  margin-left: 30px;
  margin-top: 30px;

  /* margin-left: 2rem; */
}

.header a {
  text-decoration: none;
  color: #212529;
}

.cartContainer:hover,
.cartContainer:active {
  background-color: #339af0;
  cursor: pointer;
}

.cartContainer {
  padding: 25px 25px;
  background-color: #4dabf7;
  z-index: 1;
  border: none;
  border-radius: 50px;
  transform: translate(-15px, -15px);
}

.cartLogo {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 2;
  transform: translate(-15px, -15px);
}

.orderButton {
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 15px;
  transform: translate(0, -10px);
}

.orderButton:hover,
.orderButton:active {
  background-color: #339af0;
  cursor: pointer;
}

.totalCartItems {
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  color: red;
  font-weight: 500;
  transform: translate(1rem, -2rem);
}

/*//////////////
////IMAGE//////
/////////////*/

.logo img {
  width: 28rem;
  height: 8rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
