.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;

  width: 85vw;
  height: 60vh;
  z-index: 100;
  background-color: white;
  border-radius: 1rem;
}

.modalContainer {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  width: inherit;
  height: inherit;
  font-size: 3rem;
}

.closeButton {
  margin: 1rem;
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  position: absolute;
}

.orderButton {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  margin: 1rem;

  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  height: 5rem;
  width: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.modalContainer:hover,
.modalContainer:active,
.orderButton:hover,
.orderButton:active {
  background-color: #339af0;
  cursor: pointer;
}

.modalCloseButton {
  display: flex;
  justify-content: end;
}

.itemsList {
  margin-top: 5rem;
}
