.aboutUsContainer {
  width: 100vw;
  height: 75vh;
  display: flex;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 5rem;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  background-color: #f7f7f7;
}

.grid2cols {
  grid-template-columns: repeat(2, 1fr);
}

.imageContainer {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-content: center;
}

.imageContainer img {
  object-fit: fill;
  width: auto;
  height: 30rem;
}

.storyContainer {
  font-size: 2rem;
  margin-right: 5rem;
}

.storyContainer h1 {
  font-size: 4rem;
  margin-top: 13rem;
}

.storyContainer p {
  margin-top: 3rem;
  line-height: 1.4;
}
