/*
Containers
*/
.contactUsContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  /* background-color: lightgray; */
}

.formContainer {
  margin: 3rem;
}

.formContainer h1 {
  margin-bottom: 2rem;
}

/*
  form format
  */

.formCard {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.085);
  border-radius: 11px;
  transition: all 0.3s;
  width: auto;
  /* width: 90vw;for media query */
  height: auto;
}

.formSpacing {
  padding: 2rem;
}

.field {
  margin-top: 2rem;
}

.field label {
  font-size: 2rem;
}
.field input {
  height: 2.5rem;
  width: 40rem;
  /*width: 80vw; for media query*/
  margin-top: 0.5rem;
  font-size: 1.8rem;
  padding: 1.2rem 0.5rem;
  border: 1px solid black;
}

.comments input {
  height: 16rem;
  width: 40rem;
  padding: 0.1rem 0.5rem;
}

/*
submit button
*/
.submitButtonCenter {
  display: flex;
  justify-content: center;
}

.submitButton {
  margin: 1rem;
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 15px;
}

.submitButton:hover,
.submitButton:active {
  cursor: pointer;
}

.invalidInput {
  font-size: 1.5rem;
  color: red;
  margin-left: 1rem;
}

.submitButton:disabled,
.submitButton:disabled:hover,
.submitButton:disabled:active {
  cursor: not-allowed;
  background-color: lightgrey;
  color: #212529;
}
