.menuItems h1 {
  text-align: center;
  font-size: 5rem;
  color: #212529;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.menuItems ul {
  margin-top: 2.5rem; /*this gives the entire list a margin on top but doesn't affect when there is multiple rows of items*/
  list-style: none;
  justify-items: center;
}

.menuItems li {
  margin-bottom: auto;
}

.gridContainer {
  margin: 3rem 6.8rem;
  justify-content: center;
  /* margin: 3rem 10vw; for media queries */
}

.grid {
  display: flex;
  row-gap: 6.4rem;
  column-gap: 3rem;
  /*flex-direction: column; for media queries */
  /* row-gap: 3rem; for media queries */
}

.grid3Cols {
  grid-template-columns: repeat(4, 37rem);
}

.btnCategoryActive {
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 15px;
  transform: translate(0, -10px);
  margin-left: 30px;
}
.btnCategoryActive:hover,
.btnCategoryActive:active {
  cursor: pointer;
  background-color: #339af0;
}

.btnContainer {
  margin-top: 20px;
  text-align: center;
}

.btnCategoryInactive {
  color: #212529;
  background-color: #f7f7f7;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  transform: translate(0, -10px);
  margin-left: 30px;
}

.btnCategoryInactive:hover,
.btnCategoryInactive:active {
  color: #e7f5ff;
  background-color: #4dabf7;
  border-radius: 10px;
  cursor: pointer;
}
