.menuItems h1 {
  text-align: center;
  font-size: 5rem;
  color: #212529;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.menuItems ul {
  margin-top: 2.5rem;
  list-style: none;
  justify-items: center;
}

.menuItems li {
  margin-bottom: auto;
}

.gridContainer {
  margin: 3rem 6.8rem;
}

.grid {
  display: grid;
  row-gap: 5rem;
}

.grid3Cols {
  grid-template-columns: repeat(4, 1fr);
}

.centerItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.btnContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
}

.btnCategoryActive {
  color: #e7f5ff;
  background-color: #4dabf7;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 15px;
}

.btnCategoryActive:hover,
.btnCategoryActive:active {
  cursor: pointer;
  background-color: #339af0;
}

.btnCategoryInactive {
  color: #212529;
  background-color: #f7f7f7;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
}

.btnCategoryInactive:hover,
.btnCategoryInactive:active {
  color: #e7f5ff;
  background-color: #4dabf7;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1700px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .menuItems {
    margin-top: 2rem;
  }

  .btnCategoryInactive {
    background-color: #fff !important;
  }
}

@media (max-width: 900px) {
  .btnContainer {
    column-gap: 3rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .grid {
    margin: 2rem 1rem;
  }
}
